@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');

body {
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(#404040, #553D53);
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    min-height: 100vh;
    position: relative;
}
.blog-wrap {
    padding-top: 13rem;
    padding-bottom: 10rem;
    @media (min-width: 768px) {
      padding-top: 8rem;
    }
}
.image-bg {
    width: 100%;
    @media (min-width: 768px) {
      width: 60%;
    }
    display: block;
    margin: 0 auto;
  }